@model int

<div class="container row pt-5">
	<div class="col-12 text-center">
		<h2>Order Placed Successfully!</h2>
		<br />
		<h3 class="text-secondary text-center" ">Your Order Number is: @Model <br /></h3>
		<img src="https://cdni.iconscout.com/illustration/premium/thumb/order-confirmation-5365232-4500195.png?f=webp" width="35%" alt="" />
	</div>
	<div class="col-12 text-center text-primary">
		<br />
		<h4 class="text-secondary">Your order was placed successfully!</h4>
	</div>
</div>